---
layout: default
permalink: o_mnie.html
---
<div class="wrap">
  <div class="container home-apoint">
    <div class="row">
      <div class="col-md-12 home-apoint-text">
      <h2>O mnie</h2>
      </div>
    </div><!--end row-->
  </div><!--end container-->
</div><!--end wrap-->

<div class="wrap margin-block">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li>
                <div class="home-test">
                  <p>Od wielu lat dbam o uśmiech pacjentów. Posiadam wszechstronne doświadczenie w wielu specjalnościach stomatologicznych.</p>
                  <p>Nazywam się <strong>Żaneta Drabik-Kobusińska</strong>. Specjalistyczną Profilaktykę Stomatologiczną prowadzę w Gdyni przy ul. Wójta Radtkego 30/1. Jestem lekarzem dentystą. Ukończyłam studia na Oddziale Stomatologicznym Wydziału Lekarskiego Akademii Medycznej w Gdańsku.</p>
                  <p>Od 1991 r. pracuję nieprzerwanie w zawodzie. W 1995 r. uzyskałam specjalizację pierwszego stopnia w zakresie stomatologii ogólnej. Przez wszystkie lata pracy prowadzę dalszą edukację uczestnicząc w wielu kursach szkoleniowych i konferencjach naukowych prowadzonych przez wybitnych specjalistów z Polski i całego świata.</p>
                </div><!--end home-test-->
              </li>
            </ul>
          </div><!--end col-md-12 -->
        </div><!--end row-->
      </div><!--end col-md-9-->

      <aside class="col-md-3">
        <ul>
          <li>
            <header class="sidebar-title">
              <h3>Godziny otwarcia</h3>
            </header>
            <div class="schedule">
              <ul>
                <li class="clearfix">
                  <div class="pt-item-title">Poniedziałek</div>
                  <div class="pt-item-price">13:00 - 18:00</div>
                </li>
                <li class="clearfix">
                  <div class="pt-item-title">Wtorek</div>
                  <div class="pt-item-price">08:00 - 13:00</div>
                </li>
                <li class="clearfix">
                  <div class="pt-item-title">Czwartek</div>
                  <div class="pt-item-price">13:00 - 18:00</div>
                </li>
                <li class="clearfix">
                  <div class="pt-item-title">Piątek</div>
                  <div class="pt-item-price">08:00 - 13:00</div>
                </li>
                <div class="sidebar-footer">Proszę o wcześniejsze umówienie się na wizytę telefonicznie lub osobiście.</div>
              </ul>
            </div>
          </li><!--end schedule-->
        </ul>
      </aside><!--end sidebar-->
    </div><!--end row-->
  </div><!--end container-->
</div><!--end wrap-->
