---
layout: default
permalink: kontakt.html
---
<div class="wrap">
  <div class="container home-apoint">
    <div class="row">
      <div class="col-md-12 home-apoint-text">
        <h2>Kontakt</h2>
      </div>
    </div><!--end row-->
  </div><!--end container-->
</div><!--end wrap-->

<div class="wrap margin-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12 g-map">
        <iframe height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2315.629625865179!2d18.536476!3d54.522393000000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fda7240e4c3919%3A0x612a7c9720c09147!2sW%C3%B3jta+Radtkego+30!5e0!3m2!1sen!2spl!4v1420929212644"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="wrap margin-block">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <header class="home-title">
          <h3>Dane kontaktowe</h3>
        </header>

        <h3 class="sub-title">Specjalistyczna Praktyka Stomatologiczna</h3>
        <div>ul. Wójta Radkego 30/1</div>
        <div>81-355 Gdynia</div>
        <div>&nbsp;</div>
        <div>58 620 53 82</div>
        <div>604 11 44 04</div>
      </div>

<aside class="col-md-3">
  <ul>
    <li>
      <header class="sidebar-title">
        <h3>Godziny otwarcia</h3>
      </header>
      <div class="schedule">
        <ul>
          <li class="clearfix">
            <div class="pt-item-title">Poniedziałek</div>
            <div class="pt-item-price">13:00 - 18:00</div>
          </li>
          <li class="clearfix">
            <div class="pt-item-title">Wtorek</div>
            <div class="pt-item-price">08:00 - 13:00</div>
          </li>
          <li class="clearfix">
            <div class="pt-item-title">Czwartek</div>
            <div class="pt-item-price">13:00 - 18:00</div>
          </li>
          <li class="clearfix">
            <div class="pt-item-title">Piątek</div>
            <div class="pt-item-price">08:00 - 13:00</div>
          </li>
          <div class="sidebar-footer">Proszę o wcześniejsze umówienie się na wizytę telefonicznie lub osobiście.</div>
        </ul>
      </div>
    </li><!--end schedule-->
  </ul>
</aside><!--end sidebar-->
    </div>
  </div>
</div>
