---
layout: default
permalink: galeria.html
---
<div class="wrap">
  <div class="container home-apoint">
    <div class="row">
      <div class="col-md-12 home-apoint-text">
        <h2>Galeria</h2>
      </div>
    </div><!--end row-->
  </div><!--end container-->
</div><!--end wrap-->

<div class="wrap margin-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 block-3col">
        <div class="gal-img">
          <img class="img-responsive" src="images/gallery/gal-1.jpg" alt=""/>
          <a class="lightbox" href="images/gallery/gal-1.jpg" data-rel="prettyPhoto[gallery]" title="">
            <div class="gal-more"><div class="mask-elem">
                <span class="gal-btn-2">BIG</span>
              </div>
            </div><!--end gal-more-->
          </a>
        </div><!--end 3col-img-->
        <!-- <h4 class="gallery-text">Pellentesque habitant</h4> -->
      </div><!--col-md-4-->
      <div class="col-md-4 block-3col">
        <div class="gal-img">
          <img class="img-responsive" src="images/gallery/gal-2.jpg" alt=""/>
          <a class="lightbox" href="images/gallery/gal-2.jpg" data-rel="prettyPhoto[gallery]" title="">
            <div class="gal-more"><div class="mask-elem">
                <span class="gal-btn-2">BIG</span>
              </div>
            </div><!--end gal-more-->
          </a>
        </div><!--end 3col-img-->
      </div><!--col-md-4-->
      <div class="col-md-4 block-3col">
        <div class="gal-img">
          <img class="img-responsive" src="images/gallery/gal-3.jpg" alt=""/>
          <a class="lightbox" href="images/gallery/gal-3.jpg" data-rel="prettyPhoto[gallery]" title="">
            <div class="gal-more"><div class="mask-elem">
                <span class="gal-btn-2">BIG</span>
              </div>
            </div><!--end gal-more-->
          </a>
        </div><!--end 3col-img-->
      </div><!--col-md-4-->
      <div class="col-md-4 block-3col">
        <div class="gal-img">
          <img class="img-responsive" src="images/gallery/gal-4.jpg" alt=""/>
          <a class="lightbox" href="images/gallery/gal-4.jpg" data-rel="prettyPhoto[gallery]" title="">
            <div class="gal-more"><div class="mask-elem">
                <span class="gal-btn-2">BIG</span>
              </div>
            </div><!--end gal-more-->
          </a>
        </div><!--end 3col-img-->
      </div><!--col-md-4-->
      <div class="col-md-4 block-3col">
        <div class="gal-img">
          <img class="img-responsive" src="images/gallery/gal-5.jpg" alt=""/>
          <a class="lightbox" href="images/gallery/gal-5.jpg" data-rel="prettyPhoto[gallery]" title="">
            <div class="gal-more"><div class="mask-elem">
                <span class="gal-btn-2">BIG</span>
              </div>
            </div><!--end gal-more-->
          </a>
        </div><!--end 3col-img-->
      </div><!--col-md-4-->
      <div class="col-md-4 block-3col">
        <div class="gal-img">
          <img class="img-responsive" src="images/gallery/gal-6.jpg" alt=""/>
          <a class="lightbox" href="images/gallery/gal-6.jpg" data-rel="prettyPhoto[gallery]" title="">
            <div class="gal-more"><div class="mask-elem">
                <span class="gal-btn-2">BIG</span>
              </div>
            </div><!--end gal-more-->
          </a>
        </div><!--end 3col-img-->
      </div><!--col-md-4-->
    </div>
  </div>
</div>

