---
layout: default
---

  <div class="wrap">
    <div class="flexslider-top">
      <ul class="slides">
        <li>
          <img src="images/slider-1.jpg" alt="" />
          <div class="flex-caption">
            <span>Dbamy o Twój uśmiech</span>
          </div>
        </li>

        <li>
          <img src="images/slider-2.jpg" alt="" />
          <div class="flex-caption">
            <span>Gabinet przyjazny dzieciom</span>
          </div>
        </li>

        <li>
          <img src="images/slider-3.jpg" alt="" />
          <div class="flex-caption">
            <span>Profesjonalnie wyposarzony gabinet</span>
          </div>
        </li>
      </ul>
    </div><!--end flexslider-->
  </div><!--end wrap-->


<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-4 home-feature">
        <p class="img-feature"><img src="images/inlay_onlay.jpg" alt=""/></p>
        <h2>Inlay, Onlay</h2>
        <p class="text-feature">Niekiedy utrata tkanek zębów jest zbyt duża, by możliwe było zastosowanie tradycyjnych metod wypełnienia. Konieczna jest wówczas współpraca z laboratorium protetycznym, w którym technik tworzy odbudowę.</p>
      </div><!--end home-feature-->

      <div class="col-md-4 home-feature">
        <p class="img-feature"><img src="images/whitening.jpg" alt=""/></p>
        <h2>Wybielanie</h2>
        <p class="text-feature">To zabieg estetyczny, pozwalający rozjaśnić zęby. Niekiedy po leczeniu kanałowym ząb matowieje, ciemnieje. Taki przebarwiony ząb, odróżniający się od pozostałych zębów, także można próbować wybielać.</p>
      </div><!--end home-feature-->

      <div class="col-md-4 home-feature">
        <p class="img-feature"><img src="images/prosthesis.jpg" alt=""/></p>
        <h2>Protezy</h2>
        <p class="text-feature">Istnieje wiele typów protez. Wybór odpowiedniej dla danej osoby zależy od indywidualnych uwarunkowań. Możliwe jest mocowanie protez na implantach, zasuwach, zatrzaskach.</p>
      </div><!--end home-feature-->
    </div><!--end row-->
  </div><!--end container-->
</div><!--end wrap-->
