---
layout: default
permalink: oferta.html
---
<div class="wrap">
  <div class="container home-apoint">
    <div class="row">
      <div class="col-md-12 home-apoint-text">
        <h2>Usługi</h2>
      </div>
    </div><!--end row-->
  </div><!--end container-->
</div><!--end wrap-->

<div class="wrap margin-block">
<div class="container">

<div class="row services">

<div class="col-md-6 service">
<img class="item-avatar-left" src="images/book.png" alt=""/>
<h4>STOMATOLOGIA ZACHOWAWCZA</h4>
<p>Celem stomatologii zachowawczej jest zachowanie zębów własnych człowieka w naturalnej postaci z odtworzeniem kształtu i koloru zębów naturalnych. Dążę do tego, by przywrócić ładny, pełny uśmiech, a tym samym poczucie zdrowia. Leczenie powstałych ubytków próchnicowych polega na zastąpieniu chorobowo zmienionej tkanki nowoczesnymi materiałami. Stosuję materiały stomatologiczne najwyższej klasy.</p>
</div><!--end col-md-6-->

<div class="col-md-6 service">
<img class="item-avatar-left" src="images/doctor.png" alt=""/>
<h4>INLAY, ONLAY</h4>
<p>Niekiedy utrata tkanek zębów jest zbyt duża, by możliwe było zastosowanie tradycyjnych metod wypełnienia zęba. Konieczna jest wówczas współpraca z laboratorium protetycznym, w którym na bazie pobranych wzorów masą wyciskową, technik tworzy odbudowę. Odbudowa w mniejszym zakresie zwana jest inlay'em (wkład koronowy), w większym zakresie onlay'em (nakład koronowy).
Odbudowy tego typu pozwalają na uzyskanie dużej estetyki, a szczelność i siłę przylegania do tkanek zęba zwiększamy poprzez użycie „kleju” cementu.</p>
</div><!--end col-md-6-->

<div class="col-md-6 service">
<img class="item-avatar-left" src="images/syringe.png" alt=""/>
<h4>LECZENIE ENDODONTYCZNE KANAŁÓW ZĘBA</h4>
<p>W przypadku gdy bakterie z jamy ustnej zakażają jamę zęba i jego korzenie, konieczne jest leczenie polegające na usunięciu zawartości kanałów, odkażeniu ich i szczelnym wypełnieniu. Z uwagi na skomplikowaną budowę, zakrzywienie kanałów, zawężenia, występujące boczne odgałęzienia, jest to leczenie trudne i nie zawsze do końca przewidywalne. Staram się na biężąco śledzić najnowszą wiedzę w tej dziedzinie, stosować narzędzia bezpieczne, wypełniać kanał szczelnie. A osobie leczonej wytłumaczyć cel, przebieg leczenia oraz dalszą metodę odbudowy.</p>
</div><!--end col-md-6-->

<div class="col-md-6 service">
<img class="item-avatar-left" src="images/aid_kit.png" alt=""/>
<h4>PROTETYKA</h4>
<p><strong>Korony</strong> – stosujemy, gdy ząb jest zniszczony, przebarwiony. Koroną odtwarzamy estetykę i funkcje zęba.</p>
<p><strong>Most</strong> – pokrywając koronami zęby po obu stronach luki po usuniętym zębie odtwarzamy brakujący ząb.</p>
<p><strong>Licówka</strong> – to uzupełnienie kosmetyczne, odtwarzające lub poprawiające estetykę zębów przy minimalnej ingerencji w szkliwo zęba.</p>
<p><strong>Protezy</strong> – Istnieje wiele typów protez. Wybór odpowiedniej dla danej osoby zależy od indywidualnych uwarunkowań. Możliwe jest mocowanie protez na implantach, zasuwach, zatrzaskach.</p>
</div><!--end col-md-6-->

<div class="col-md-6 service">
<img class="item-avatar-left" src="images/brush.png" alt=""/>
<h4>PERIODONTOLOGIA</h4>
<p>Jeżeli krwawią dziąsła, pojawia się nieprzyjemny zapach z ust, mimo należytej higieny. Należy rozpocząć leczenie, by nie doszło do całkowitej utraty utrzymania zębów w kościach szczęk.</p>
</div><!--end col-md-6-->

<div class="col-md-6 service">
<img class="item-avatar-left" src="images/cross.png" alt=""/>
<h4>CHIRURGIA STOMATOLOGICZNA</h4>
<p>Ekstrakcja, czyli zabieg usunięcia zęba poprzez delikatne, precyzyjne zwichnięcie, rozchwianie zęba.
W moim gabinecie staram się wykonywać zabieg usunięcia zęba jak najostrożniej, delikatnie. Stosuję środki znieczulające wysokiej klasy, zabezpieczające przed bólem.</p>
</div><!--end col-md-6-->

<div class="col-md-6 service">
<img class="item-avatar-left" src="images/whitening.png" alt=""/>
<h4>WYBIELANIE</h4>
<p>To zabieg estetyczny, pozwalający rozjaśnić zęby. Niekiedy po leczeniu kanałowym ząb matowieje, ciemnieje. Taki przebarwiony ząb, odróżniający się od pozostałych zębów, także można próbować wybielać.</p>
</div><!--end col-md-6-->

</div><!--end row-->

</div><!--end container-->
</div><!--end wrap-->

