    <footer class="wrap margin-block">
      <div class="container">
        <div class="row">
          <div class="col-md-3 foo-block">
          </div><!--end col-md-3-->
          <div class="col-md-3 foo-block">
          </div><!--end col-md-3-->
          <div class="col-md-3 foo-block">
          </div><!--end col-md-3-->
        </div><!--end row-->
      </div><!--end container-->
    </footer><!--end wrap-->


    <div class="wrap copy-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-12 copyright">
            <span>&copy; 2015 MatchThemes</span>
          </div><!--end copyright-->
        </div><!--end row-->
      </div><!--end container-->
    </div><!--end wrap-->

  </div><!--end mainWrap-->
