  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-51939997-2', 'auto');
ga('send', 'pageview');

  </script>




  <div class="mainWrap">
    <div class="wrap topbar">
      <div class="container">
      <ul class="phones">
       <li class="telephone">58 620 53 82</li>
       <li class="cellphone">604 11 44 04</li>
      </ul>
    </div><!--end container-->
    </div><!--end topbar-->

    <header class="wrap">
      <div class="container">
      <a class="logo" href="/"><img src="images/logo.png" alt="Drabik-Kobusińska" /></a>
        <nav id="nav-desktop">
          <ul class="menu">
            <li class=""><a href="/">GŁÓWNA</a></li>
            <li class=""><a href="o_mnie.html">O MNIE</a></li>
            <li class="">
              <a href="oferta.html">OFERTA</a>
              <ul class="sub-menu">
                <li><a href="oferta.html#">Inlay/Onlay</a></li>
                <li><a href="oferta.html#">Leczenie Endodontyczne</a></li>
                <li><a href="oferta.html#">Protetyka</a></li>
                <li><a href="oferta.html#">Periodontologia</a></li>
                <li><a href="oferta.html#">Chirurgia stomatologiczna</a></li>
                <li><a href="oferta.html#">Wybielanie</a></li>
              </ul>
            </li>
            <li class=""><a href="galeria.html">GALERIA</a></li>
            <li class=""><a href="kontakt.html">KONTAKT</a></li>
          </ul>
        </nav>
      </div><!--end container-->
    </header><!--end header-->
