a{color:#0bb1e5;text-decoration:underline;
-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;}
a:hover, a:focus{color:#0bb1e5;text-decoration:none;}

body{background:#e9e9e9;
color:#999999;
font: 14px "Open Sans", Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
line-height:1;}

.tile-bkg{background:#cce5ed url("../images/bkg/bkg-tile-1.png") repeat 0 0;}


.mainWrap{background:#ffffff;}

.topbar{background:#333538;}

.menu li a {color:#797979;}
.menu li a:hover, .menu li:hover > a{color:#ffffff;
background:#0bb1e5;}

.menu ul { background: #ffffff;
border:1px solid #e0e0e0;
}

.menu ul li a {color:#797979;
border-left:2px solid #ffffff;
background:#ffffff;
}
.menu ul li a:hover, .menu ul li:hover > a{
background:#f0f0f0;
border-left:2px solid #0bb1e5;
color:#797979;
}
.menu li.current_page_item > a {color:#ffffff;
background:#0bb1e5; }

.mobile-navigation {
    background-color: #F8F8F8;
    color: #8F8F8F;
}

.flex-caption{background-color:rgba(11, 177, 229, 0.8);
color:#ffffff;}

.home-feature img, .team-member img{box-shadow: 0px 0px 0px 7px #e0e0e0;
}
.home-feature:hover img, .team-member:hover img{box-shadow: 0px 0px 0px 7px #0bb1e5;}
.home-feature h2{color:#0bb1e5;}

.team-member h4, .test-author-name{color:#0bb1e5;}

.home-title h3, .sidebar-title h3{background:#ffffff;
color: #353535;}


.gal-img .gal-more{background-color:rgba(11, 177, 229, 0.1);}
a.gal-btn, .gal-btn-2{background:#0bb1e5;
border:3px solid #0881a7;
color:#ffffff;
}
a.gal-btn:hover{color:#0881a7;}

.cases-text{border-top:5px solid #0bb1e5;}
.gallery-text{background:#0bb1e5;color:#ffffff;}
.title-gal-post a, .sub-title{color:#353535;
text-decoration:none;}
.title-gal-post a:hover{color:#0bb1e5;}

.item-avatar{box-shadow: 0px 0px 0px 5px #e0e0e0;}

.news-info{background:#0bb1e5;
color:#ffffff;}
.news-info a{color:#ffffff;
text-decoration:none;}
.news-info a:hover{color:#0881a7;}
.home-apoint{border-top:1px solid #e0e0e0;
border-bottom:1px solid #e0e0e0;
}
.home-apoint h2{color:#353535;}
.home-apoint-btn a, .read-more a, #submit-comm, #submit{background:#0bb1e5;
color:#ffffff;
}
.home-apoint-btn a:hover, .read-more a:hover, #submit-comm:hover, #submit-comm:active, #submit:hover, #submit:active{background:#0881a7;
color:#ffffff;}

footer.wrap{background:#333538;}
footer h3, .jtwt_date, .jtwt_date:hover, .foo-date, .foo-news h4, .foo-faq h4{color:#e0e0e0;}
.foo-news a, .foo-news a:hover{color:#999999;}
.copy-holder{ background:#232426;}
.copy-holder a{color:#e0e0e0;
text-decoration:none;}
.copy-holder a:hover{color:#e0e0e0;
text-decoration:underline;}

/**** BLOG *****/
.title-blog-post, .title-blog-post a{color:#353535;
text-decoration:none;
}
.title-blog-post a:hover{color:#0bb1e5;}

.page-numbers, .page-numbers:hover{ background: #ffffff;
border: 1px solid #e0e0e0;
color:#999999;
}
.page-numbers:hover, .current, .current:hover{color:#ffffff;
background:#0bb1e5;
border: 1px solid #0bb1e5;}

/**** END BLOG *****/

/**** SIDEBAR *****/
input#search-string{background:#f0f0f0;
border:1px solid #f0f0f0;
color:#353535;
}
.schedule ul li, .sidebar-archive ul li{border-bottom:1px solid #e0e0e0;}
.sidebar-footer {
  text-align: center;
  color: #353535;
  margin-top: 11px;
}
.snews-title a {color:#353535;
text-decoration:none;}
.sidebar-archive a{color:#999999;
text-decoration:none;}
.snews-title a:hover, .sidebar-archive a:hover{color:#0bb1e5;}
/**** END SIDEBAR *****/

.faq-questions .trigger{background:#0bb1e5 url('../images/toggle-plus.png') no-repeat 7px 16px;}
.faq-questions .trigger a{color:#ffffff;}
.faq-questions .active{background:#0881a7 url('../images/toggle-minus.png') no-repeat 7px 16px;}
.toggle_container{background:#f0f0f0;}

.pt-title{background:#0bb1e5;
color:#ffffff;}
.pt-features li{background:#ffffff;}
.pt-features li:nth-child(2n) {background-color: #f0f0f0;}
.pt-features li:hover{background:#0bb1e5;
color:#ffffff;}

.service-feature{background:#0bb1e5;
color:#ffffff;}

.comment-body {border-bottom: 1px solid #e0e0e0; }
.comment-author .author a:link, .comment-author .author a:visited { color: #999999;text-decoration:none;}
.comment-author .author a:hover { color: #0bb1e5;}
.comment-reply-link, #cancel-comment-reply-link{ color: #0bb1e5; font-size: 12px;}
.comment-reply-link:hover, #cancel-comment-reply-link:hover { color: #0881a7;}

input.comm-field, #comment, #message2, input.comm-field:focus, #message2:focus, #comment:focus {border:1px solid #e0e0e0;
color:#999999;}

input.comm-field:focus, #message2:focus, #comment:focus {border:1px solid #0bb1e5;}

.output2{border:1px solid #ff0000;}

.no-page{color:#909090;
background:#e0e0e0;
}

.tweet_list .tweet_time a{font-size:12px;
color:#E0E0E0;
text-decoration:none;
}
.tweet_list .tweet_time a:hover{color:#E0E0E0;}

@media (min-width: 768px) and (max-width: 979px) {


}

@media (max-width: 767px){

}

@media (max-width: 320px){

}
