/* ---------- Google Font ---------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800);

/* RESET STYLES */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
q:before, q:after { content:''}
strong { font-weight: bold }
em { font-style: italic }
.italic { font-style: italic }
.aligncenter { display:block; margin:0 auto; }
.alignleft { float:left; margin:10px; }
.alignright { float:right;margin:10px; }
.no-margin{margin:0px;}
.no-bottom{margin-bottom:0px;}
.no-padding{padding:0px;}
.margin-t{margin-top:22px;}
div { position:relative }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active,a:focus{outline: none;}

img.alignleft, img.alignright, img.aligncenter {
    margin-bottom: 11px;
}

.alignleft, img.alignleft{
display: inline;
    float: left;
    margin-right: 22px;
}

.alignright, img.alignright {
    display: inline;
    float: right;
    margin-left: 22px;
}

.aligncenter, img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}


*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


/**** GENERAL STYLES*****/
html{-webkit-font-smoothing:antialiased;}

h1{font-size:36px; }
h2{font-size:32px;line-height:1.3em;}
h3{font-size:24px;line-height:1.3em;}
h4{font-size:18px;line-height:1.3em;}
h5{font-size:16px;}
h6{font-size:14px;}
p{padding-bottom:11px;}
p,div, span{line-height:1.5em;}
.column-clear{clear:both;}
.clear{overflow: hidden;}


.wrap, .mainWrap{width:1000px;margin:0 auto;}

.phones{
padding:9px 0;
line-height:0;
text-align:right;
}
.phones li{display:inline-block;
margin-left:10px;
}
.phones li:first-child{margin-left:0;}
.phones li {
height:18px;
line-height:18px;
overflow:hidden;
padding-left: 21px;
text-shadow: none;
color: #FFF;
}

li.telephone{background:url("/images/icon-telephone.png") no-repeat 0px 0px;}
li.cellphone{background:url("/images/icon-cellphone.png") no-repeat 0px 0px;}

/**** END GENERAL STYLES*****/
/**** HEADER STYLES*****/
header{padding:33px 0 25px 0;}
.logo{display: block;
float:left;
}

nav{display:block;
float:right;
margin-top: 15px;
}
.menu li{display: inline-block;
margin-left:5px;
padding-bottom:25px;
position: relative;
z-index:100;}
.menu li a {font-weight:600;
text-decoration:none;
padding:11px;

-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}

.menu ul {display: none;
margin: 0;
padding: 0;
width: 150px;
position: absolute;
top: 43px;
left: 0px;}

.menu ul.sub-menu:before {background: url("images/submenu-arrow.png") no-repeat scroll center center transparent;
    content: "";
    display: block;
    height: 13px;
	width: 16px;
	position: absolute;
    left: 20px;
    top: -13px;
 }

.menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
}
.menu ul li a {font-size:12px;
font-weight:normal;
display:block;}

.menu li:hover > ul{ display: block;}
.menu ul ul {left: 149px;
	top: 0px;
}


.mobile-navigation {
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
	display:none;
	width: 100%;
}

.flexslider-top{margin-bottom:11px;
overflow:hidden;}

.flexslider-top .slides > li, .flexslider-testimonials .slides > li  {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider-top .slides img, .cases-img img{display:block;
width:100%;}

/* Clearfix for the .slides element */
.slides:after {display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.flexslider-top .flex-direction-nav a {
    background: url("/images/slider-arrows.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 20px;
    z-index: 10;
	border:none;
	margin: -20px 0 0;
    opacity: 0;

	-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;

}
.flexslider-top .flex-direction-nav .flex-prev {
    background-position: 0 0;
    left: 10px;
	top:50%;
}
.flexslider-top .flex-direction-nav .flex-prev:hover {
    background-position: 0 -20px;
}

.flexslider-top .flex-direction-nav .flex-next {
    background-position: -20px 0;
    right: 10px;
	top:50%;
}

.flexslider-top .flex-direction-nav .flex-next:hover {
    background-position: -20px -20px;
}

.flexslider-top:hover .flex-next {opacity: 1;}
.flexslider-top:hover .flex-prev {opacity: 1;}

.flexslider-top .slides li{
position:relative;
}
.flex-caption{
text-align:center;
font-size:36px;
padding:11px 0;
position:absolute;
left:0;
bottom:0;
width:100%;
}
/**** END HEADER STYLES*****/
/**** HOME STYLES*****/
.home-feature, .home-feature-2, .team-member{margin-top:44px;}
.margin-block{margin-top:44px;}
.img-feature{text-align:center;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box; }
.home-feature img, .team-member img{
border-radius: 50%;
-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;

}
.service-feature{border-radius: 50%;
width:210px;
height:210px;
font-size:28px;
margin:0 auto;
margin-bottom:22px;
padding-top:80px;
text-align:center;
}

.services{margin-top:22px;}
.service{margin-top:22px;}
.service h4{font-weight:600;
padding-bottom:11px;}

.home-feature h2, .home-feature-2 h2{font-size:28px;
padding:22px 0 11px 0;
margin:0;
text-align:center;}
.home-feature p, .home-feature-2 p{
  padding:0;
}
.home-feature p.text-feature {
  text-align: justify;
}

.home-feature-2 h2, .team-member h2{font-size:22px;}
.team-member h2{padding-top:11px;
line-height:22px;
text-align:center;}
.team-member h4{font-size:14px;
text-align:center;
line-height:22px;
margin-bottom:22px;}


.home-title, .sidebar-title{
background: url("/images/line-title.png") repeat-x 0 9px;
padding:0;
}

.home-title h3, .sidebar-title h3{
font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	display: inline;
	padding-right:15px;
}
.sidebar-title{margin-bottom:11px;}

.block-3col{margin-top:22px;}

.gal-img{display:block;
overflow:hidden;}

.gal-img .gal-more{
width:100%;
height:100%;
position:absolute;
top:0; left:0;
text-align:center;

 -webkit-transform:translate(0px, -350px);
   -moz-transform: translate(0px,-350px);
   -o-transform:  translate(0px, -350px);
   -ms-transform: translate(0px, -350px);
   transform: translate(0px, -350px);

   -webkit-transition: all 0.3s ease-in-out 0s;
   -moz-transition: all 0.3s ease-in-out 0s;
   -o-transition: all 0.3s ease-in-out 0s;
   -ms-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
}

.gal-img:hover .gal-more{
-webkit-transform: translate(0px, 0px);
   -moz-transform: translate(0px, 0px);
   -o-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
}

.gal-img .gal-more:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.gal-img .gal-more .mask-elem{
	position:relative;
	display: inline-block;
	vertical-align: middle;
}

.gal-more ul li{display:inline-block;}

a.gal-btn, .gal-btn-2{
border-radius: 50px;
display:block;
width:70px;
height:70px;
font-size:12px;
font-weight:600;
text-decoration:none;
padding-top:22px;
}
.gal-btn-2{margin:0 auto;}

.cases-text, .news-text{padding-top:11px;}
.cases-text p, .news-text p{padding:0;}
.gallery-text{padding:11px 0;
text-align:center;
font-weight:600;}
.title-gal-post{font-weight:600;
padding-bottom:11px;}

.test-title{width:82%;}

.flexslider-testimonials{margin-top:15px;}
.flexslider-testimonials .slides > li {display: none; -webkit-backface-visibility: hidden;}

.flexslider-testimonials .flex-direction-nav a {
    background: url("/images/slider-arrows.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    text-indent: -9999px;
    width: 20px;
    z-index: 10;
	border:none;
	opacity:1;
	margin: -20px 0 0;

}

.flexslider-testimonials .flex-direction-nav .flex-prev {
    background-position: 0 0;
    left: 86%;
	top:-16px;
}
.flexslider-testimonials .flex-direction-nav .flex-prev:hover {
    background-position: 0 -20px;
}

.flexslider-testimonials .flex-direction-nav .flex-next {
    background-position: -20px 0;
    right: 0px;
	top:-16px;
}

.flexslider-testimonials .flex-direction-nav .flex-next:hover {
    background-position: -20px -20px;
}

.home-test{font-style:italic;
line-height:22px;
 margin-bottom: 11px;}

.test-author-name{font-weight:600;
padding:11px 0 0 0;}
.test-author p{text-align:right;}
.item-avatar{
    border-radius:100%;
    float: right;
    height: 70px;
    margin-left: 20px;
    overflow: hidden;
    width: 70px;
}

.item-avatar-left{
    float: left;
    height: 70px;
    margin-right: 20px;
    overflow: hidden;
    width: 70px;
}

.news-info{padding:11px;
font-size:12px;}

.home-apoint{padding-bottom: 22px;
    padding-top: 22px;}
.home-apoint h2{font-weight:600;}

.home-apoint-btn, .read-more{
margin-top:30px;
text-align:right;}
.home-apoint-btn a, .read-more a{padding:10px 16px;
text-decoration:none;
}
.read-more{margin-top:11px;}
.read-more a{display:inline-block;}

/**** END HOME STYLES*****/

.sub-title{font-weight:600;
margin-top:11px;
}

/**** BLOG STYLES*****/
.blog-post{margin-top:66px;}
.blog-post:first-child{margin-top:0;}
.blog-post img, .blog-post-single .news-info{margin-bottom:25px;}
.title-blog-post{margin-bottom:15px;
font-size:28px;
font-weight:600;}

.prev-next{margin-top:44px;}
.page-numbers, .page-numbers:hover{
margin: 3px;
padding: 2px 7px;
text-decoration:none;
}
/**** END BLOG STYLES*****/


/**** SIDEBAR STYLES*****/
aside ul li{margin-top:55px;}
aside ul ul li, aside ul li:first-child{margin:0;}
input#search-string{
padding:8px;
width:100%;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;}

.schedule ul li, .sidebar-archive ul li{padding:6px 0;}

.sidebar-news ul li{margin-top:11px;}
.snews-date{font-size:12px;}

.sidebar-appoint .home-apoint-btn{text-align:center;}
/**** END SIDEBAR STYLES*****/



/**** FOOTER STYLES*****/
footer.wrap{margin-top:66px;
padding-bottom:22px;}
.foo-block{margin-top:44px;}
footer h3{font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom:22px;
}

.tweet_list li{margin-bottom:11px;}
.tweet_list li:last-child{margin-bottom:0;}

.foo-news li, .testimonial-single{margin-bottom:22px;}
.testimonials ul li{margin-bottom:44px;}
.foo-faq li{margin-bottom:11px;}
.foo-news li:last-child, .testimonials ul li:last-child{margin-bottom:0;}
.foo-date{font-size:12px;
margin-bottom:11px;}
.foo-news h4, .foo-faq h4{margin:0;
line-height:1;
font-size:14px;}
.foo-faq h4{margin-bottom:11px;}
.foo-news a{font-size:14px;
text-decoration:none;}
.foo-news a:hover{text-decoration:underline;}
.copy-holder{padding:11px 0;}
.copy-holder span{font-size:12px;}
/**** END FOOTER STYLES*****/

/**** PRICING TABLE STYLES*****/
.main-table{margin-top:11px;
margin-bottom:22px;}
.pt-title{padding:11px;
margin:0;
}
.pt-features li{padding:11px;}
.pt-item-title{float:left;}
.pt-item-price{float:right;}
/**** END PRICING TABLE STYLES*****/

.faq-questions{margin-bottom:11px;}
.faq-questions .trigger{padding:11px 0 11px 28px;
margin-top:11px;
margin-bottom:0;
cursor:pointer;
}
.faq-questions .trigger a{text-decoration:none;}
.toggle_container{padding:11px;}

.no-page{
border-radius: 50%;
display:block;
width:400px;
height:400px;
font-weight:600;
text-decoration:none;
padding-top:80px;
margin:0 auto;
text-align:center;
font-size:18px;
}
.no-page .title{font-size:150px;
line-height:1;}


/*flexible embeds*/
.embed, .video-widget {
	position: relative;
	padding: 0;
	padding-bottom: 56.25%; /* 16:9 ratio*/
	height: 56.25%;
	overflow: hidden;
}
.embed iframe,
.embed object,
.embed embed, .video-widget iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0;
}

.cases-img, .g-map{margin-bottom:44px;}
.g-map iframe{border:0;
width:100%;}

/**** COMMENTS STYLES*****/
.comm-title, #comments-title{margin:44px 0;}
.commentlist { margin: 0 }
.commentlist li { list-style: none; margin: 0;
margin-top:22px;}
.children li.depth-2 { margin: 0 0 0px 63px }
.children li.depth-3 { margin: 0 0 0px 63px }
.children li.depth-4 { margin: 0 0 0px 63px }
.children li.depth-5 { margin: 0 0 0px 63px }
.children li.depth-6 { margin: 0 0 0px 63px }
.children li.depth-7 { margin: 0 0 0px 63px }
.children li.depth-8 { margin: 0 0 0px 63px }
.children li.depth-9 { margin: 0 0 0px 63px }
.children li.depth-10 { margin: 0 0 0px 63px }
.comment-body { margin-bottom: 22px; padding-bottom: 22px;}
.commentlist li:last-child .comment-body{margin-bottom:33px;}
.comment-details{ position: relative; margin-left: 60px }
.comment-avatar{ position: absolute; left: -60px; top:0 }
.comment-avatar img{ display: block;
border-radius:50%;
box-shadow: 0px 0px 0px 5px #e0e0e0;}
.comment-author .author a:link, .comment-author .author a:visited {border:none;font-size:12px;}
.comment-content{ margin-top: 7px }
.comment-content p:last-child{ margin: 0; }
.comment-date { font-size: 12px; font-weight: normal }
.reply{text-align:right;}
.comment-reply-link{ margin-top: 11px;text-decoration:none; }
.comment-reply-link, #cancel-comment-reply-link { display: inline-block;border:none; }
.commentlist .children { margin: 0 }
#comments_wrap { margin-top: 11px }
#cancel-comment-reply { float: right; margin-top: 7px; }
.children #commentform textarea { width: 95.6% }

input.comm-field{margin-bottom:22px;
height:35px;
padding:7px 5px;
width:100%;
-webkit-border-radius:0;
border-radius:0;
}
#message2, #comment { width: 100%;
padding:5px;
-webkit-border-radius:0;
border-radius:0;
}
.comm-field, #message2, #comment, #submit, #submit-comm {-webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
-ms-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
font-size:14px;
font-family:"Open Sans", Helvetica, Arial, sans-serif;}
input.comm-field:focus, #message2:focus, #comment:focus {outline: 0;
 -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}

#submit-comm{padding:10px 16px;
display: block;
text-align: center;
cursor:pointer;
width:100%;
border:none;
font-size:14px;
font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

#submit{float:right;
padding:10px 16px;
display: block;
cursor:pointer;
margin-top:22px;
border:none;
font-size:14px;
font-family:"Open Sans", Helvetica, Arial, sans-serif;}

.output2{padding:10px;
margin-top:22px;}

.antispam{display:none;}

/**** END COMMENTS STYLES*****/


@media (min-width: 1200px) {
.wrap, .mainWrap{width:1200px;}
.flexslider-testimonials .flex-direction-nav .flex-prev {left: 89%;}
.test-title{width:85%;}
}


@media (min-width: 768px) and (max-width: 979px) {

.wrap, .mainWrap{width:768px;}
.menu li a{font-size:12px;
padding:8px;}
.flex-caption{font-size:24px;
padding:11px 0;}
.flexslider-testimonials .flex-direction-nav .flex-prev {left: 82%;}
.test-title{width:78%;}
.home-apoint-btn a {font-size:12px;}
}

@media (max-width: 767px) {

.mainWrap{width:auto;}
.wrap{width:auto;}
header.wrap{padding:30px 20px;
text-align:center;}
nav{margin-top:10px;
width:220px;}
.menu{display:none;}
.mobile-navigation {display:block;}
.flex-caption{font-size:24px;
padding:11px 0;}
.gal-img img{width:100%;}
.home-apoint-btn {text-align:center;}
.copy-holder{padding:11px 20px;}
aside{margin-top:55px;}
 /*comments*/
 	.children { margin: 30px 0 0; }
	.children li.depth-2,
	.children li.depth-3,
	.children li.depth-4,
	.children li.depth-5,
	.children li.depth-6,
	.children li.depth-7,
	.children li.depth-8,
	.children li.depth-9,
	.children li.depth-10 { margin: 0 }
#comment{margin-bottom:22px;}
#submit{margin-bottom:44px;}
}

@media (max-width: 480px) {
.logo{float:none;}
nav{width:55%;
float:none;
margin:22px auto 0 auto;}
.flexslider-testimonials .flex-direction-nav .flex-prev {left: 90%;}
.test-title{width:86%;}
}


@media (max-width: 320px) {
.flexslider-testimonials .flex-direction-nav .flex-prev {left: 82%;}
.test-title{width:76%;}

}
